@using Microsoft.AspNetCore.Identity
@model List<IdentityRole>
@{
    ViewData["Title"] = "RoleList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Role Listesi</h1>
<br />

@if (ViewBag.description != null)
{
    <div class="container">
        <div class="alert alert-danger">@ViewBag.description</div>
    </div>
}

<table class="table table-bordered table table-striped" id="table">
    <tr>
        <th>Rol Adı</th>
        <th>Rol Sil</th>
        <th>Rol Güncelle</th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td><a class="btn btn-danger" data-id="@item.Id" id="delete">Sil</a></td>
                <td><a class="btn btn-warning" asp-action="RoleUpdate" asp-route-id="@item.Id">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<br />
<a class="btn btn-primary" asp-action="RoleCreate" asp-controller="AdminUserManagement">Rol Ekle</a>

<script type="text/javascript">

    $("#table").on("click", "#delete", function () {
        var id = $(this).data("id");
        swal({
            title: 'Rol Silinecek!',
            text: "Silmek istediğinize emin misiniz?",
            icon: 'warning',
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {

            if (willDelete) {

                $.ajax({
                    type: 'GET',
                    url: '/AdminUserManagement/RoleDelete/' + id,
                    success: function () {
                        toastr.error('Rol Silme İşlemi Başarıyla Gerçekleşti')


                    }
                });

                $(this).parent('td').parent('tr').remove();

            }

        });

    });
</script>
