@model List<City>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<a asp-action="CityAdd" class="btn btn-primary" style="margin-left:10px;">Yeni Şehir Ekle</a>
<br />
<br />
<table class="table table-bordered table table-striped" id="table">
    <tr>
        <th>Şehir Adı</th>
        <th>Şehir Sil</th>
        <th>Şehir Güncelle</th>
    </tr>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CityName</td>
                <td><a class="btn btn-danger" id="delete" data-id="@item.CityId" >Sil</a></td>
                <td><a class="btn btn-warning" asp-action="Update" asp-route-id="@item.CityId">Güncelle</a></td>
            </tr>
        }

    </tbody>
</table>

<script type="text/javascript">

    $("#table").on("click", "#delete", function () {
        var id = $(this).data("id");
        swal({
            title: 'Şehir Silinecek!',
            text: "Silmek istediğinize emin misiniz?",
            icon: 'warning',
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {

            if (willDelete) {

                $.ajax({
                    type: 'GET',
                    url: '/AdminCityDelete/' + id,
                    success: function () {
                        toastr.error('Şehir Silme İşlemi Başarıyla Gerçekleşti')


                    }
                });

                $(this).parent('td').parent('tr').remove();

            }

        });

    });
</script>
