@model City
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                        <form method="post" asp-action="Update">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(x => x.CityId)
                            <label>Şehir Adı</label>
                            <input class="form-control" asp-for="CityName" />
                            <span asp-validation-for="CityName" class="text-danger"></span>
                            <br />
                            <button type="submit" class="btn btn-primary">Güncelle</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
